.toggle-button {
	padding: 10px 15px;
	background-color: #4caf50; /* Green */
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
	transition: background-color 0.3s ease;
}
.toggle-button:hover {
	background-color: #45a049;
}
.input {
	display: none;
	margin: 5px 0;
}
.info-label {
	font-weight: bold;
}
.display {
	padding: 10px 0px;
}
